<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.event">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/evento"
            android:label="Evento"
            android:roundIcon="@mipmap/evento"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Navigation">
        </activity>
        <activity android:name=".Front_slide">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Subtent">

        </activity>
        <activity android:name=".SubSound">
        </activity>


        <activity android:name=".SubProjector">
        </activity>
        <activity android:name=".SubLight">
        </activity>
        <activity android:name=".SubGame">
        </activity>
        <activity android:name=".SubFurniture">
        </activity>
        <activity android:name=".SubFood">
        </activity>
        <activity android:name=".Subdecoration">
        </activity>

        <activity android:name=".Projector">
        </activity>
        <activity android:name=".Furniture">
        </activity>
        <activity android:name=".Tent">
        </activity>
        <activity android:name=".Sound">
        </activity>
        <activity android:name=".Lights">
        </activity>
        <activity android:name=".Games">
        </activity>
        <activity android:name=".Decoration">
        </activity>
        <activity android:name=".Food">
        </activity>
        <activity android:name=".Login">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".Register"/>
    </application>

</manifest>